
/* variables des couleurs */
:root {
$coul-titre1: #2563eb /*bleu*/
}

h1 {
  color: var(--coul-titre1); !important;
  font-size: 3em;!important;
  font-weight: 700;!important;
  border-bottom: 3px solid #2563eb !important;
  /* rem important est utilisé pour ecraser la config par defaut */
}

h2 {
  color: #059669 !important;
}

h3 {
  color: #d97706 !important;
}

h4 {
  color: #20B2AA !important;
}

h5 {
  color: #FFA500 !important;
}

h6 {
  color: #800080 !important;
}



.site-title {
  color: #1e40af !important;
  font-weight: bold !important;
}
